* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
    display: grid;
}

.header-upper {
    display: grid;
    grid-template-columns: 500px 100px 300px;
    padding: 15px;
}

.search-panel {
    display: flex;
    align-items: center;
    gap: 15px
}

.account {
    display: flex;
    align-items: center;
    gap: 15px;

}

.search-input {
    border: none;
    background-color: rgb(213, 227, 232);
    width: 450px;
    height: 27px;
    border-radius: 15px;
}

.material-symbols-outlined,
.material-symbols-outlined {
    width: 50px;
}

.header {
    padding-left: 150px;
}

.header-lower {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 500px 400px;
    padding: 15px;
}

.accounts-information {
    display: flex;
    align-items: center;
    gap: 15px;
}

.account-info {
    display: flex;
    flex-direction: column;
}

.welcome {
    font-weight: 600;
    font-size: 16px;
}

.account-data {
    font-weight: 900;
    font-size: 26px;
}

.buttons {
    display: flex;
    gap: 30px
}

.new, .upload, .share {
    border: none;
    padding: 5px;
    background-color: rgb(85, 175, 248);
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    width: 80px;
}


.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    padding-left: 150px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}

.project-item {
    border-left: 6px solid orange;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 250px;
    padding: 15px;
}

.trending-item>img {
    height: 25px;
    width: 25px;
}

.project-title {
    margin-bottom: 5px;
}

.project-description {
    font-size: 13px;
    color: rgb(142, 137, 137)
}

.project-icons {
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
    gap: 15px;
}

.announcements {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
    border-radius: 6px;
}

.announcements-item {
    padding: 15px;
    border-bottom: 1px solid rgb(142, 137, 137);
    width: 220px;
}

.announcements-item:last-child {
    border: none;
}

.announcements-title {
    font-size: 14px;
}

.announcements-description {
    margin-top: 5px;
    font-size: 11px;
    color: rgb(142, 137, 137)
}

.right {
    display: grid;
    grid-template-columns: repeat(1, 250px);
}

.trending {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 6px;
    padding: 15px;
}

.trending-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.trending-text {
    margin-left: 15px;
}

.trending-title {
    font-size: 14px;
    font-weight: 500;
}

.trending-description {
    font-size: 14px;
    color: rgb(142, 137, 137)
}

.trending-item>img {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(222, 215, 215);
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 15px;
    height: 100%;
    width: 150px;
    background-color: rgb(85, 175, 248);
}

.logo-dashboard {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
}

.menu-item {
    color: white;
}

.menu-item:last-child {
    margin: 0;
}

.material-symbols-outlined {
    margin-left: 20px;
    color: black;
}

.lower-menu {
    margin-top: 50px;
}

.home, .profile, .messages, .history,
.tasks, .communities, .settings, .support, .privacy {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.logo-title {
    color: white;
    font-weight: 800;
    font-size: 20px;
}